
.maincontent h2 {
    font-size:50px;
}

.maincontent h3 {
    font-size:20px !important;
    font-family:'Open Sans';
    font-weight:600;
    margin-top:15px;
}

.maincontent hr {
    color:#BD830E;
    display:none;
}

.maincontent img {
    width:100%;
    border-radius:5px;
}

.staggered {
    display:flex;
    flex-direction:row;
    gap:3%;

}

.staggered div {
    width:50%;
}

#authorbox {
    display:flex;
    flex-direction:row;
    width:100%;
    align-items:center;
    margin-top:25px;


}

#authorbox div:last-child {
    border-style:solid;
    border-width:0px;
    border-left-width:1px;
    padding:15px 20px 15px 20px
}

#authorbox p {
    margin:5px;
}

#beckdavis {
    width:100px;
    height:100px;
    border-radius:100px;
    object-fit:cover;
}

/* Responsive */
@media only screen and (max-width: 1024px )   {
    .staggered {
        flex-wrap: wrap;
    }
    .staggered div {
        width:100% !important;
    }

}


@media only screen and (max-width: 768px)   {
    .headofschool h2 {
        font-size:20px !important;
        font-family:'Open Sans';
        text-transform:uppercase;
        font-weight:600;
    }

    .headofschool h3 {
        margin-bottom:15px;
    }
    
    .headofschool hr {
        display:block;
        margin-top:15px;
        margin-bottom:15px;
    }

    .headofschool > div:nth-of-type(2) {
        flex-direction:column-reverse;
    }
}