.maincontent {
    display:flex;
    align-items:center;
}

.maincontent div:nth-of-type(1) {
    width:60%;
}

.maincontent > div:nth-of-type(2) {
    width:40%;
    padding-left:50px;
}

.maincontent img {
    width:100%;
    border-radius:5px;
}

img {
    object-fit:cover;
}

/* Responsive Views */
/* Large Laptop Sizing */
@media only screen and (max-width: 1368px) {
    
}

/* Small Laptop Sizing */
@media only screen and (max-width: 1024px )   {
    .maincontent > div {
        width:100% !important;
    }

    .maincontent {
        flex-wrap:wrap;
    }

    img {
        width:100%;
    }

    .maincontent > div:nth-of-type(2) {
        padding:0px;
    }
}

/* Tablet Sizing */
@media only screen and (max-width: 768px)   {

}

/* Phone Sizing */
@media only screen and (max-width: 480px) {

}

