.maincontent {
    display:flex;
    gap:1%;
    align-items:center;
}

.contactform {
    width:42%;
    padding-right:50px;
}

.contactinfo {
    width:25%;
    border-radius:10px;
    padding:35px;
    padding-top:100px;
    padding-bottom:100px;
    background-color:white;
    filter: drop-shadow(5px 5px 5px #00000017);
    margin:15px;
    transition:0.4s;

}

.contactinfo:hover {
   transform:translateY(-15px);
   transition:0.4s;
}


.contactinfo a {
    display:flex;
flex-direction:row;
width:100%;
align-items:center;
}

.contactinfo a:hover {
    transform:unset;
}

.contactinfo i {
 margin-right:15px;
}


.maincontent h2 {
    font-size:50px;
}

.maincontent h3 {
    font-size:30px !important;
    margin-top:10px;
}

input {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:5px;
    margin-bottom:5px;
    border-style:none;
    background-color:#F2F2F2;
}

form {
    display:flex;
    flex-wrap:wrap;
    gap:5px;
}

form div { 
    width:100%;
}

form > div:last-child {
    width:100%;
}

form > div:last-child > * {
    width:99%;
}

textarea {
    padding-top:50px;
    padding-bottom:50px;
    border-style:none;
    background-color:#F2F2F2;
}

a {
    all: unset;
    transition:0.25s;
}

a:hover {
background-color:transparent;
    color:#BD830E;
    cursor:pointer;
}

a:hover i {
    transform:unset;
}


#submitbutton {
width:100%;
border-radius:0;
border-style:solid;
border-width:1px;
border-color:white;
text-transform:uppercase;
font-family:'Bebas Neue';
font-size:25px;
padding:10px 15px 10px 15px;
background-color:#BD830E;
color:white;
margin-top:10px;
margin-bottom:10px;
display: flex;
justify-content: space-between;
transition:0.4s;

}

#submitbutton:hover {
    background-color: #313131;
}

.exhibitioninfo {
    background-color:black;
    color:white;

}

.exhibitioninfo > * {
    width:33%;
}

.exhibitioninfo h2 {
    font-size:50px;
}


.exhibitioninfo div {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.exhibitioninfo div p {
    font-weight:600;
    text-transform:uppercase;
    margin-left:15px;
}

label { 
    font-family:'Open Sans';
    font-weight:200;
    font-size:16px !important;
}

hr {
    color:#BD830E;
}

/* Responsive Views */
/* Large Laptop Sizing */
@media only screen and (max-width: 1368px) {
    
}

/* Small Laptop Sizing */
@media only screen and (max-width: 1024px )   {

}

/* Tablet Sizing */
@media only screen and (max-width: 768px)   {
    .maincontent {
        display:flex;
        flex-wrap:wrap;
        gap:25px;
    }

    .maincontent div {
        width:100%;
        padding:0px;
    }

    .contactinfo {
        padding:25px !important;
        padding-top:50px;
        padding-bottom:50px;

    }

    .exhibitioninfo {
        padding-top:35px !important;
        padding-bottom:25px;
        gap:0px;
    }

    .exhibitioninfo > * {
        width:100%;

    }

    .exhibitioninfo p {
        margin-top:10px !important;
    }

    .exhibitioninfo i {
        margin-right:15px;
    }
}

/* Phone Sizing */
@media only screen and (max-width: 480px) {

}


