.graduatepage {
    display:flex;
    justify-content:space-between;
}

.maincontent p {
    font-size:18px !important;
}

.graduatepage h2 {
    font-size: 100px;
    color:#BD830E;
}

.maincontent > div {
    width:50%;
}

.maincontent > a {
    width:100%;
}

.maincontent {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.graduatelinks {
    display:flex;
    flex-wrap:nowrap;
    gap: 15px;
}

.graduatelinks a {
    all:unset;
    font-family:'Open Sans';
    cursor:pointer;
}

.graduatelinks i {
    transition:0s;
    padding-left:0px;

}

.graduatelinks a:hover{
    color:#BD830E
}

.graduatelinks a:hover i{
    transform:unset;
    color:#BD830E !important;
    transition:0s;
}




#back {
    background-color:transparent;
    color:black;
    font-family:'Open Sans';
    text-transform:unset;
    font-size:18px;
    padding:0px;
}

#back i {
    transform:scale(0.5);
}

#back:hover {
    transform:unset;
    color:#BD830E;
}

.graduatebuttons > a:nth-of-type(2)  {
    background-color:#BD830E;
}

.graduatebuttons > a:nth-of-type(2):hover  {
    background-color:black;
}

figure {
    margin:0px;

}

.artwork > i {
    position:relative;
    top:-50px;
    left:25px;
    transition:0.25s;
    color:white;
}

.artwork > i:hover {
    transform:scale(1.25);
    transition:0.25s;
    color:#BD830E;


}

.fa-x.close {
    color:white;
    transition:0.25s;

}

.fa-x.close:hover {
    color:#BD830E;
    transition:0.25s;
        transition:0.25s;

}

img {
    width:100%;
    border-radius:10px;
margin-top:15px;
}

.artistmeta {
    border-radius:10px;
    padding:35px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:white;
    filter: drop-shadow(5px 5px 5px #00000017);
    margin:15px;
    transition:0.4s;

}

.artiststatement {
    display:block;
    border-radius:10px;
    padding:35px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#313131;
    color:white;
    filter: drop-shadow(5px 5px 5px #00000017);
    margin:15px;
    transition:0.4s;

}

.maincontent hr {
    
    color:#BD830E
}

.artwork {
    margin-right:50px;
}

.artistmeta > div { 
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.lightbox {
    background: rgba(0, 0, 0, 0.874) ;
    display:none;
    align-content:center;
    justify-content:center;
	width: 100% !important;
	height: 100%;		
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
    flex-wrap:wrap;
}

.lightbox img {
    width:100%;
    height:100%;
    opacity:1;
    object-fit:contain;

}

.lightbox figure {
    display:flex;
    height:80vh;
}

.lightbox figcaption {
    width:100%;
    text-align:center;
    color:white;
    margin-top:75px;

}
.lightbox i {
    position:relative;
    left:90%;
    top:3%;
    width:100%;
}

/* Responsive Views */
/* Large Laptop Sizing */
@media only screen and (max-width: 1368px) {
    
}

/* Small Laptop Sizing */
@media only screen and (max-width: 1024px )   {

}

/* Tablet Sizing */
@media only screen and (max-width: 768px)   {
    .graduatepage h1 {
        position:fixed;
        top:44%;
        left:35%;
        font-size:90px;
        transform:rotate(270deg);
        width:500px;
        z-index:5 !important;
        text-align:right;
    }
    
    .maincontent {
        flex-wrap:wrap;
    }

    .maincontent > div {
        width:87.5% !important;    
    }

    .artwork {
        padding-right:0px !important;
        margin-right:0px !important;
    }

    .artistmeta {
        filter:unset;
        padding:0px;
        margin:0px;
    }

    .artistmeta h2 {
        font-size:60px;
    }

    p {
        margin:0px;
    }

    .artiststatement {
        background-color:#313131;
        z-index:6 !important;
        position:relative;
        display:flex;
        flex-wrap:wrap;
        color:white;
        padding:7%;
    }

    .artiststatement p {
        width:100%;
        padding-top:15px;
    }

    .artiststatement hr {
        width:100%;
    }
    .artiststatement h2 {
        font-size:50px;

    }

}

/* Phone Sizing */
@media only screen and (max-width: 480px) {

}

