/* Individual Graduate Page Styling */
/* Main Content Styling */
figure {
  margin: 0px;
}

.maincontent > div {
  width: 50%;
}

.maincontent > a {
  width: 100%;
}

.maincontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.maincontent p {
  font-size: 18px !important;
}

.graduatepage {
  display: flex;
  justify-content: space-between;
}

.graduatepage h2,
.graduatepage h1 {
  font-size: clamp(55px, 5vw, 100px);
  width: 100%;
}

.graduatepage h1 {
  text-align: left;
}

.graduatepage h2 {
  text-align: right;
}

.artistmeta h2,
.artiststatement h2 {
  font-size: clamp(40px, 5vw, 80px);
}

.graduatepage h2 {
  color: #bd830e;
}

/* Graduate Links Styling */
.graduatelinks {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

.graduatelinks a {
  all: unset;
  font-family: "Open Sans";
  cursor: pointer;
}

.graduatelinks i {
  transition: 0s;
  padding-left: 0px;
}

.graduatelinks a:hover {
  color: #bd830e;
}

.graduatelinks a:hover i {
  transform: unset;
  color: #bd830e !important;
  transition: 0s;
}

#back {
  background-color: transparent;
  color: black;
  font-family: "Open Sans";
  text-transform: unset;
  font-size: 18px;
  padding: 0px;
}

#back i {
  transform: scale(0.5);
}

#back:hover {
  transform: unset;
  color: #bd830e;
}

/* Lighbox Styling */
.lightbox {
  background: rgba(0, 0, 0, 0.874);
  display: none;
  align-content: center;
  justify-content: center;
  width: 100% !important;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.lightbox img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: contain;
}

.lightbox figure {
  display: flex;
  height: 80vh;
}

.lightbox figcaption {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}
.lightbox i {
  position: relative;
  left: 90%;
  top: 3%;
  width: 100%;
}

.artwork > i {
  position: relative;
  top: -50px;
  left: 25px;
  transition: 0.25s;
  color: white;
}

.artwork > i:hover {
  transform: scale(1.25);
  transition: 0.25s;
  color: #bd830e;
}

.fa-x.close {
  color: white;
  transition: 0.25s;
}

.fa-x.close:hover {
  color: #bd830e;
  transition: 0.25s;
  transition: 0.25s;
}

/* Artwork and Artist Meta Styling */
.artwork img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.artistmeta {
  border-radius: 10px;
  padding: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  filter: drop-shadow(5px 5px 5px #00000017);
  margin: 15px;
  transition: 0.4s;
}

.artiststatement {
  display: block;
  border-radius: 10px;
  padding: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #313131;
  color: white;
  filter: drop-shadow(5px 5px 5px #00000017);
  margin: 15px;
  transition: 0.4s;
}

.maincontent hr {
  color: #bd830e;
}

.artwork {
  margin-right: 50px;
}

.artistmeta > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Responsive Views */
.calltoaction {
  position: relative;
  z-index: 999;
}

footer {
  position: relative;
  z-index: 999;
}

.artiststatement.desktop {
  display: block;
}

.artiststatement.responsive {
  display: none;
}

/* Large Laptop Sizing (1368px and below) */
@media only screen and (max-width: 1368px) {
  .artistmeta > div {
    width: 100%;
    flex-wrap: wrap;
  }

  .artistmeta > div > p {
    margin: 5px;
  }

  .artwork {
    margin-right: 0px;
  }
}

/* Laptop And Tablet Sizing (1024px and below)*/
@media only screen and (max-width: 1024px) {
  .pagetitle h2 {
    display: none;
  }

  .pagetitle {
    margin: 0px;
  }

  .pagetitle h1 {
    color: black;
  }

  .maincontent {
    padding-bottom: 75px !important;
  }

  .artiststatement.desktop {
    display: none;
  }

  .artiststatement.responsive {
    display: block;
  }

  .artiststatement {
    margin: 0px;
    border-radius: 0;
  }

  .graduatepage h1 {
    position: fixed;

    font-size: 90px;
    transform: rotate(270deg);
    width: 100vh;
    z-index: 5 !important;
    text-align: right;
    right: 30px;
    transform-origin: 100%;
  }

  .maincontent {
    flex-wrap: wrap;
  }

  .maincontent > div {
    width: 87.5% !important;
  }

  .maincontent .lightbox {
    width: 100% !important;
  }

  .lightbox figure {
    height: unset;
  }

  .lightbox figcaption {
    margin-top: 0px;
  }

  .lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .lightbox p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px !important;
  }

  .artwork {
    padding-right: 0px !important;
    margin-right: 0px !important;
  }

  .artistmeta {
    filter: unset;
    padding: 0px;
    margin: 0px;
  }

  .artistmeta h2 {
    font-size: 40px;
  }

  p {
    margin: 0px;
  }

  .artiststatement {
    background-color: #313131;
    z-index: 6 !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 7%;
  }

  .artiststatement p {
    width: 100%;
    padding-top: 15px;
  }

  .artiststatement hr {
    width: 100%;
  }

  .graduatelinks {
    margin-top: 25px;
  }
}

/* Phone Sizing (480px and below)*/
@media only screen and (max-width: 480px) {
  .graduatepage h1 {
    font-size: 65px;
    right: 20px;
  }
}
