/* Template Styles */
/* Header & Footer Styling */
header, footer {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    
}

header {
    flex-wrap:wrap;
	background-color: transparent;
	padding-bottom: 30%;
	margin-bottom: -40% !important;
}

header a, footer a {
    background-color:transparent;
    padding:0px;
    border-style:none;
}

header a:hover, footer a:hover {
    color:#BD830E;
    background-color:transparent;
}


.mainnav, .eventdetails {
    padding-left:7%;
    padding-right:7%;
    width:100%;
    display:flex;
}

.cloned {
    visibility:hidden;
}

.eventdetails {
    background-color:#BD830E;
    flex-direction: row-reverse;
}

.mainnav {
    padding-top:30px;
    padding-bottom:30px;
    justify-content:space-between;
    align-items:center;
    z-index:999;
}

.mainnav ul {
    display:flex;
    align-items: center;
}

.mainnav li {
    padding-left:10px;
    padding-right:10px;
    transition:0.4s;

}

.mainnav a {
    color:white;
    font-size:30px;
    font-family:'Bebas Neue';
    font-weight:100;
    
}

.mainnav li:hover {
    transform:scale(1.10);
    transition:0.4s;
}

.graduatesbutton {
    padding:10px 20px 10px 20px;
    font-size:26px;
    border-style:solid;
    border-width:1px;
    border-color:white;
    text-transform:uppercase;
    transition:0.4s;
    text-decoration:none;
    display:flex;
}

.graduatesbutton:hover {
    color:white !important;
    background-color:#BD830E;
}

.eventdetails div {
    display:flex;
    justify-content: center;
    align-items:center;
    padding-right:25px;
}

.eventdetails i {
    padding-right:15px;
}

.eventdetails p {
    color:white;
    font-weight:500;
}



.menulogo {
    width:17.5% !important;
}

.menulogo img {
    width:100%;
}




footer {
    padding:2% 7% 2% 7%;
    align-items:start;
    background-color:#2C2C2C;
    border-top-style: solid;
    border-width:10px;
    border-color:#BD830E;
    padding-top:50px;
    padding-bottom:50px;
    gap:25px;
}

footer > * {
    color:white;    
}

.footerlogos {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:15px;
    align-items:center;
}

.footerlogos a {
width:60%;
}

.footerlogos a:hover {
    transform:unset;
}


#anulogo {
    width:20%;
    height:75px;
    object-fit:contain;
    margin-left:-5px;
}

#gradshowlogo {
width:100%;
}

.navmenupopup {
display:none;
}

footer h2, h3 {
    font-size:50px !important;
}

footer h4 {
    font-size:18px !important;
    margin:0px;
    padding-bottom:5px;
    padding-top:15px;
}

footer > div { 
width:25%;
}

footer a {
    color:white ;
    transition:0.25s;

}

footer a i {
    padding-left:0px;
    padding-right:5px;
    transform:scale(0.70)

}

footer a:hover {
    color:#BD830E;
    transition:0.25s;
    transform:unset;
}

footer a:hover i {
    color:#BD830E ;
    transform:unset;
    transform:scale(0.70);
}

footer svg {
    width:100%;
    height:50px;
}

#tagline {
    font-size:13px;
}

/* Responsive */
@media only screen and (max-width: 768px)   {
    footer {
        flex-wrap:wrap;
    }

    footer > div { 
        width:100%;
        padding:15px;

    }

}

/* CTA Styling */
.calltoaction {
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color:black;
    padding-left:7%;
    padding-right:7%;
    padding-top:2%;
    padding-bottom:2%;
}

.calltoaction h2 {
    font-size:70px;
}

.calltoaction > * {
    color:white;
}

.calltoaction hr {
    border-width:2px;
    color:#BD830E;
    border-style:solid;
}

.calltoaction > div:nth-of-type(1) {
    width:70%;
} 

.calltoaction > div:nth-of-type(3) { 
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;

}

.calltoaction a {
    margin-top:15px;
    width:300px;
    display:flex;
    justify-content:space-between;
    
}

#ctaleft {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;

}


.mainnav i {
    display:none;
}

.calltoaction .desktop {
    flex-wrap: wrap !important;
}

.calltoaction .desktop > div {
width:100%;
}

.menulogo {
    all:unset;
    filter:unset;
    cursor:pointer;
}

.menulogo:hover {
    all:unset;
    cursor:pointer;

}



@media only screen and (max-width: 1024px )   {
    .calltoaction {
        flex-wrap:wrap; 
        padding-top:50px;
        padding-bottom:50px;
    }
    .calltoaction div {
        width:100% !important;

    }

    .calltoaction h2 {
        font-size:40px; 
        text-align:center;
    }

    #ctaleft {
        display:block;
    }

    .calltoaction > div:nth-of-type(3) { 
        margin-left:0px;
    }



}

@media only screen and (max-width: 768px )   {
    
    .mainnav {
        background-color:black;
        width:100%;
        display:flex;
        flex-wrap:nowrap;
        position:fixed;
        top:0%;
        justify-content:space-between;
        overflow:hidden;
        padding-left:0px;
        padding-right:0px;
        border-style:solid;
        border-width:0px;
        border-bottom-width:15px !important;
        border-color:#BD830E;
    }
    .mainnav svg {
        width:40%;
        padding-left:7%;
    }

    .mainnav i {
        display:flex;
    }

    header {
        margin:0 !important;
    }

    .mainnav i {
        padding-right:7%;
    }

    .hamburger {
        display:none;
    }

    footer svg {
        width:100%;
        padding-bottom:25px;
    }

}


/* General Styling */

body {
    margin:0px;
    
}


figure {
    all:unset;
}

figcaption {
    all:unset;
}



a {
    border-radius:0;
    border-style:solid;
    border-width:1px;
    border-color:white;
    text-transform:uppercase;
    font-family:'Bebas Neue';
    font-size:25px;
    padding:15px 15px 15px 15px;
    background-color:black;
    color:white;
    margin-top:10px;
    margin-bottom:10px;
    justify-content: space-between;
    transition:0.4s;
    transform:scale(1);
    text-decoration:none;
}



a i{
    padding-left:15px;
    transition:0.4s;

}

a:hover {
    background-color:#BD830E;
    transform:scale(1.1);
    transition:0.4s;
}

a:hover i {
    transform:rotate(-90deg) translatex(-5px) translatey(4px) scale(1.025);
    transition:0.4s;


}

ul {
    list-style-type:none;
    padding-left:0px;
    margin:0px;
}

h1, h2, h3, h4 {
    font-family:'Bebas Neue';
    font-size:80px;
    margin:0px;
    padding:0px;
    font-weight:100;
}

p {
    font-family:'Open Sans';
    font-size:16px;
    font-weight:100;
}


#highlighttext {
    color:#BD830E;
}

.pagetitle {
    padding-left:7%;
    padding-right:7%;
    padding-top:12%;
    padding-bottom:0px;
    background-color:black;
    color:white;
}

.pagetitle h1 {
    font-size:100px;
}

@media only screen and (max-width: 768px)   {
    .pagetitle {
        padding:7%;
        padding-top:0px;
        padding-bottom:0px;
        background-color:white;
        color:black;
        display:flex;
        margin-top:50px;
    }

    .pagetitle h1 {
        font-size:55px;

    }
    
}

.desktop {
    display:flex;
}

.mobile {
    display:none !important;
}

.maincontent {
    padding:4% 7% 4% 7%;
}

@media only screen and (max-width: 768px )   {
    .desktop { 
        display:none !important;
    }
    .mobile {
        display:flex;
    }

    
.maincontent {
    padding:0% 7% 7% 7% !important;
}
}

