/* Styles.css contains styles that are applied globally to maintain consistency throughout the website.
These include both the generic styling of fonts, colours, etc. alongside the styling of reused templates (Header, Footer and CTA) */

/* Styling for reusable templates */
header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  flex-wrap: wrap;
  background-color: transparent;
  margin-bottom:-150px;
}

header a,
footer a {
  background-color: transparent;
  padding: 0px;
  border-style: none;
}

header a:hover,
footer a:hover {
  color: #bd830e;
  background-color: transparent;
}

.mainnav,
.eventdetails {
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  display: flex;
}

.mobilenav {
  display:none;
}

/* Hamburger Menu Styling */

.mobilenav {
  width: max-content;
  color: white;
  transition: transform 0.5s ease;
}

.mobilenav .checkbox {
display:none;
}


.mobilenav .checkbox:checked ~ .pulloutmenu {
  transform: translateX(0%);
}

.mobilenav .checkbox:checked ~ .hamburger .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.mobilenav .checkbox:checked ~ .hamburger .bar:nth-child(2) {
  opacity: 0;
}

.mobilenav .checkbox:checked ~ .hamburger .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.hamburger {
  width: 32px;
  height: 32px;
  position: relative;
  display: block;
  transition: transform 0.5s ease;
  z-index: 1;
  cursor: pointer;
  padding-top: 5px;
}

.hamburger .bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.5s ease;
}

.hamburger .bar:not(:first-child) {
  margin-top: 10px;
}

.pulloutmenu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: max-content;
  max-width: 100%;
  padding: 22px;
  background: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  display:flex;
  flex-direction:column;
  padding-right:50px;
}

.pulloutmenu a {
  font-size:45px !important;
}

.pulloutmenu .logo {
  width:20%;
  filter:unset;
  margin-top:15px;
}

.pulloutmenu ul {
  display:flex;
  flex-direction:column;
  margin-top:30px;
}


.pulloutmenu hr {
  width:100%;
  color:#bd830e;
  margin-top:15px;
}

.pulloutmenu nav li {
  width:100%;
}

.pullouteventdetails {
  margin-top:auto;
  margin-bottom:75px;
}

.pullouteventdetails p {
  font-weight:500;

}


.cloned {
  visibility: hidden;
}

.eventdetails {
  background-color: #bd830e;
  flex-direction: row-reverse;
}

.mainnav {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.mainnav ul {
  display: flex;
  align-items: center;
}

.mainnav li {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.4s;
}

.mainnav a {
  color: white;
  font-size: 30px;
  font-family: "Bebas Neue";
  font-weight: 100;
}

.mainnav li:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.graduatesbutton {
  padding: 10px 20px 10px 20px;
  font-size: 26px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-transform: uppercase;
  transition: 0.4s;
  text-decoration: none;
  display: flex;
}

.graduatesbutton:hover {
  color: white !important;
  background-color: #bd830e;
  transform: scale(1);
}

.eventdetails div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.eventdetails i {
  padding-right: 15px;
}

.eventdetails p {
  color: white;
  font-weight: 500;
}

.menulogo {
  width: 17.5% !important;
}

.menulogo img {
  width: 100%;
}

footer {
  padding: 2% 7% 2% 7%;
  align-items: start;
  background-color: #2c2c2c;
  border-top-style: solid;
  border-width: 10px;
  border-color: #bd830e;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 25px;
}

footer > * {
  color: white;
}

.footerlogos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
}

.footerlogos a {
  width: 60%;
}

.footerlogos a:hover {
  transform: unset;
}

#anulogo {
  width: 20%;
  height: 75px;
  object-fit: contain;
  margin-left: -5px;
}

#gradshowlogo {
  width: 100%;
}

.navmenupopup {
  display: none;
}

footer h3 {
  font-size: clamp(4vw, 2em, 5vw) !important;
}

footer h4 {
  font-size: 18px !important;
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 15px;
}

footer > div {
  width: 25%;
}

footer a {
  color: white;
  transition: 0.25s;
}

footer a i {
  padding-left: 0px;
  padding-right: 5px;
  transform: scale(0.7);
}

footer a:hover {
  color: #bd830e;
  transition: 0.25s;
  transform: unset;
}

footer a:hover i {
  color: #bd830e;
  transform: unset;
  transform: scale(0.7);
}

footer svg {
  width: 100%;
  height: 50px;
}

#tagline {
  font-size: 13px;
}

/* CTA Styling */
.calltoaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.calltoaction h2 {
  font-size: 70px;
}

.calltoaction > * {
  color: white;
}

.calltoaction hr {
  border-width: 2px;
  color: #bd830e;
  border-style: solid;
}

.calltoaction > div:nth-of-type(1) {
  width: 70%;
}

.calltoaction > div:nth-of-type(3) {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 50px;
}

.calltoaction a {
  margin-top: 15px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#ctaleft {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.calltoaction .responsive {
  display:none;
}

.mainnav i {
  display: none;
}





.menulogo {
  all: unset;
  filter: unset;
  cursor: pointer;
}

.menulogo:hover {
  all: unset;
  cursor: pointer;
}

/* General Styling */

body {
  margin: 0px;
}

a {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 25px;
  padding: 15px 15px 15px 15px;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  transition: 0.4s;
  transform: scale(1);
  text-decoration: none;
}

a i {
  padding-left: 15px;
  transition: 0.4s;
}

a:hover {
  background-color: #bd830e;
  transform: scale(1.1);
  transition: 0.4s;
}

a:hover i {
  transform: rotate(-90deg) translatex(-5px) translatey(4px) scale(1.025);
  transition: 0.4s;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue";
  font-size: 80px;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 100;
}

#highlighttext {
  color: #bd830e;
}

.pagetitle {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 12%;
  padding-bottom: 0px;
  background-color: black;
  color: white;
}

.pagetitle h1 {
  font-size: clamp(55px, 7vw, 100px);}

.desktop {
  display: flex;
}

.mobile {
  display: none !important;
}

.maincontent {
  padding: 4% 7% 4% 7%;
}



/* Large Laptop Sizing */
@media only screen and (max-width: 1368px) {
  .calltoaction .responsive {
    display:flex;
  }

  .calltoaction .large {
    display:none;
  }
  .pagetitle {
    padding-top:15% !important;
  }


}

/* Optimal breaking point for hamburger menu */
@media only screen and (max-width: 1170px) {
  .mobilenav {
    display:block;

  }
  .desktopnav {
    display:none;
  }

  .menulogo {
    width:30% !important;
  }

}

/* Small Laptop Sizing */
@media only screen and (max-width: 1024px) {
  .calltoaction {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .calltoaction div {
    width: 100% !important;
  }

  .calltoaction h2 {
    font-size: 40px;
    text-align: center;
  }

  #ctaleft {
    display: block;
  }

  .calltoaction > div:nth-of-type(3) {
    margin-left: 0px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:15px;
  }

  .pagetitle {
    padding-top:20% !important;
  }

  footer > div {
    width:48%;
  }

  footer {
    flex-wrap:wrap;
  }

}

/* Tablet Sizing */
@media only screen and (max-width: 768px) {
  footer {
    flex-wrap: wrap;
  }

  footer > div {
    width: 100%;
    padding: 15px;
  }

  .pagetitle {
    padding: 7%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    color: black;
    display: flex;
    margin-top: 50px;
  }

  .mainnav {
    background-color: black;
    width: 88%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0%;
    justify-content: space-between;
    overflow: hidden;
    align-items:center;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 15px !important;
    border-color: #bd830e;
  }
  .mainnav svg {
    width: 40%;
    padding-left: 7%;
  }

  .mainnav i {
    display: flex;
  }

  header {
    margin: 0 !important;
  }

  .mainnav i {
    padding-right: 7%;
  }


  footer {
    gap:0px !important;
  }

  .calltoaction > div:nth-of-type(3) {
    flex-wrap:wrap;
  
    
  }

  .eventdetails {
    display:none; 
  }

  .calltoaction .responsive {
    margin-bottom:15px;
  }

  .calltoaction a {
    margin:0px;
  }
  .menulogo {
    display: flex;
  }
  .pagetitle {
    padding-top: 150px !important;
  }
}

/* Phone Sizing */
@media only screen and (max-width: 480px) {

  .menulogo {
    width:50% !important;
  }

  footer h3 {
    font-size:30px !important;
  }
}

.hamburger {
  width: 30px;
  height: 26px;
}



